mta-otp-plannedwork/src/main/resources/plannedwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="NY_SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Getstatus4Response" type="ny:Getstatus4ResponseType" xmlns:ny="NY_SOAP"/>
  <xs:complexType name="StopsType">
    <xs:sequence>
      <xs:element type="ny:StopinfoType" name="Stopinfo" maxOccurs="unbounded" minOccurs="0" xmlns:ny="NY_SOAP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Getstatus4ResponseType">
    <xs:sequence>
      <xs:element type="xs:string" name="Responsecode"/>
      <xs:element type="xs:string" name="Version"/>
      <xs:element type="ny:StatusesType" name="Statuses" xmlns:ny="NY_SOAP"/>
      <xs:element type="ny:RoutesType" name="Routes" xmlns:ny="NY_SOAP"/>
      <xs:element type="ny:StopsType" name="Stops" xmlns:ny="NY_SOAP"/>
      <xs:element type="xs:string" name="Host"/>
      <xs:element type="xs:string" name="Copyright"/>
      <xs:element type="xs:string" name="Soapversion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoutesType">
    <xs:sequence>
      <xs:element type="ny:RouteinfoType" name="Routeinfo" maxOccurs="unbounded" minOccurs="0" xmlns:ny="NY_SOAP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusesType">
    <xs:sequence>
      <xs:element type="ny:StatusType" name="Status" maxOccurs="unbounded" minOccurs="0" xmlns:ny="NY_SOAP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TextsType">
    <xs:sequence>
      <xs:element type="xs:string" name="Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element type="xs:string" name="Title"/>
      <xs:element name="Statustype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="D"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="A"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Begins"/>
      <xs:element type="xs:string" name="Expires"/>
      <xs:element type="xs:string" name="Lastupdate"/>
      <xs:element type="xs:string" name="Affects"/>
      <xs:element type="xs:string" name="Document"/>
      <xs:element type="ny:TextsType" name="Texts" xmlns:ny="NY_SOAP"/>
      <xs:element type="xs:string" name="Categories"/>
      <xs:element type="xs:string" name="Summary"/>
      <xs:element type="xs:string" name="Canceltext"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteinfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Route"/>
      <xs:element name="Direction">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="E"/>
            <xs:enumeration value="W"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="I"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StopinfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Stop"/>
      <xs:element name="State">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="C"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="I"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Special">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N"/>
            <xs:enumeration value="Y"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Route"/>
      <xs:element name="Direction">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="E"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="W"/>
            <xs:enumeration value=" "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>